body{
    margin: 0;
    padding: 0;
    background: #262626;
    color: #fff;
}

/********************

        HOME

********************/


h1.title {
    padding-left: 30px;
}

.main .section {
    position: relative;
    padding: 20px 35px 30px;
    border: 4px solid #fff;
    border-radius: 25px;
    margin-bottom: 45px;
}

.main .section h2 {
    position: absolute;
    top: -20px;
    text-align: center;
    font-size: 28px;
    margin-top: 0;
    padding: 0 25px;
    background: #262626;
}

.home .description p {
    margin-bottom: 45px;
    line-height: 20px;
}

.home .keysInstruction .keys {
    margin: 0;
}

.home .keysInstruction .keys div {
    border-radius: 30%;
    height: 4vw;
}

.home .keysInstruction .keys div:nth-child(1) {border: 2px solid green; background: rgba(0, 128, 0, 0.2)}
.home .keysInstruction .keys div:nth-child(2) {border: 2px solid red; background: rgba(255, 0, 0, 0.2)}
.home .keysInstruction .keys div:nth-child(3) {border: 2px solid yellow; background: rgba(255, 255, 0, 0.2)}
.home .keysInstruction .keys div:nth-child(4) {border: 2px solid blue; background: rgba(0, 0, 255, 0.2)}
.home .keysInstruction .keys div:nth-child(5) {border: 2px solid orange; background: rgba(255, 165, 0, 0.2)}

.home .keysInstruction .keys span {
    font-size: 1.5vw;
    line-height: 3.8vw;
}

.home .roomsTable tr td:nth-child(2) {
    color: green;
}

.home .modal {
    color: black;
}


/********************

        GAME

********************/

.game .bother.controls {
    display: none;
}

.game .malus {
    margin-top: 50px;
    margin-right: 50px;
}

.game .malus p {
    margin-bottom: 15px;
}

.game .malus button {
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.game .malus button:disabled {
    color: grey;
    cursor: default;
}

.game .malus .gamma {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 1;
}

.game audio {
    z-index: 1;
}

.game canvas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -5;
}


.game .username {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 24px;

}

.game .role {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 24px;

}

.game .score {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 24px;

}

.game .restartPopup {
    display: none;
}

@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; } }